<html>
<head>
    <title>Toggle</title>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../style/style-switch.css">
</head>
<body ng-app="myApp">
    <br>
    <div class="appdiv" ng-controller="myCtrl as vm"> 
        <div on-off-toggle ng-model="vm.user.notification" ng-change="vm.changeNotify()">
        </div>        
        <div>{{vm.user.notification}}</div>
        <!-- <button ng-click="changeNot()">Change</button> -->
    </div>
	<div class="gitPractice"></div>
    

    <script src="../script/on-off-script.js"></script>
    <script src="../script/script_parent.js"></script>
</body>
</html>